NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_HOTEL_NAME=호텔 이름
DATABASE_URL=sqlite.db
ADMIN_PASSWORD=your-admin-password
ADMIN_JWT_SECRET=your-random-jwt-secret-at-least-32-chars
KAKAOPAY_SECRET_KEY=DEV_YOUR_SECRET_KEY
KAKAOPAY_CID=TC0ONETIME
